<div class='col-xs-10 col-xs-offset-1'>
  <div class='container'>
    <h1>WELCOME TO STORMY KNIGHTS</h1>
    <h2>Let the Storm Begin!</h2>
    <br />
    <%= link_to 'START GAME', new_game_path, :class => 'btn' %>
    <%= link_to 'JOIN GAME', '#', :class => 'btn' %>
  </div>
</div>
