<div class='col-xs-10 col-xs-offset-1'>
  <div class='container'>
    <h1>LOREM IPSUM DOLOR SIT</h1>
    <h2>amet consectetur adipiscing elit </h2>
    <br />
    <%= link_to 'NEW GAME', new_game_path, :class => 'btn' %>
  </div>
</div>